<div class="container">
    <div class="time_container">
            <h1>The current time and date:</h1>
        <div class="time_info">
            <h3><%= @time.strftime("%B %e, %Y") %></h3>
            <h3><%= @time.strftime("%I:%M %P") %></h3>
        </div>
    </div>
</div>

